body {
  background-color: black;
  color: grey;
}

nav {
  margin-bottom: 5em;
}

li {
  display: inline;
  float: left;
  width: 6em;
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 0.2em 0.6em;
  border-right: 1px solid white;
}

ul {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.login-form {
  display: block;
  text-align: center;
}

.form-label {
  display: inline-block;
  width: 140px;
  text-align: right;
  margin-right: 5px;
}

.transaction-table {
  width: 50em;
  text-align: center;
}

.item-table {
  width: 50em;
  text-align: center;
}

.banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.current-item {
  font-weight: bold
}

.item-icon {
  display: inline-block;
//  text-align: center;
  margin-right: 1em;
  vertical-align: middle;
  max-width: 50px;
  max-height: 50px;
}
